* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

html,body{
    height: 100%;
}

body{
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img{
    max-width: 100%;
    height: auto;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    margin-bottom: 1em;
}
